/*
.dash{
    font-family: Gabriola;
    width: 20%;
    height: 1000px;
    background-color: white;

}


.dash h1{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    color: #3b58ec;

}


.dash a{
    font-size: 30px;
    text-decoration: none;
    color: #3b58ec;
}

.dash li a:hover{
    
    color: #5d5d5d;
    
  }

.dash ul{
    margin-top: 50px;
    
}


.dash ul li{
    text-align: left;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-bottom: -10px;
    margin-top: -10px;
}


.hr{
    margin-right: 20px;
    margin-left: -20px;
}
*/